.font-funnel-display {
  font-family: 'Funnel Display', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ibm-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.font-w-normal {
  font-weight: 400 !important;
}

.font-w-medium {
  font-weight: 500 !important;
}

.font-w-semibold {
  font-weight: 600 !important;
}

.font-w-bold {
  font-weight: 700 !important;
}

.text-muted {
  color: #9a9a9a !important;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
}
